* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(217, 247, 218);
}
.main {
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
  background: #f5d6b9;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 50px;
    height: 28px;
  }

  &__area {
    width: 855px;
    height: 300px;
    margin: 15px;
    padding: 10px;
    font-size: 24px;
    resize: none;
    border: 2px solid #000;
    border-radius: 10px;
  }
}

.keyboard {
  padding: 5px;
  margin: 15px;
  background-color: rgb(235, 239, 243);

  &__line {
    display: flex;
  }

  .btn {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    background-color: #cac6c6;
    font-size: 20px;
    border-radius: 10px;

    &__long {
      width: 120px;
    }
    &__medium {
      width: 65px;
    }
    &__space {
      width: 315px;
    }
    &__backspace {
      width: 140px;
    }
  }
}
